# Function :

## A function is a block of code which only runs when it is called.
## The data or parameters or arguments are passed through function and function will return data as output.
## The function is defined by using keyword 'def'.

## After defining function and name, we must write an argument or condition on which the function will work. Blank function will return error as "incomplete input"

In [42]:
def test():

SyntaxError: incomplete input (2690612609.py, line 2)

In [43]:
def test():
    pass

In [44]:
def test1():
    print("I am a Data Scientist.")

In [45]:
test1

## To call the function, use the name of function followed by the round brackets.

In [46]:
test1()

I am a Data Scientist.

In [47]:
test1() + "I am Vinay"

I am a Data Scientist.

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

### The above error occurs because the print function returns the none type data type. which cannot be concatinated by string.

# Return function:

### The solution to above error is to use "return" function.
### The main charecteristics of return function is that it returns the actual data type at output for passed data.
### Because of this we can perform required operations.

In [48]:
def test2():
    return "My name is Vinay & I am a Data scientist."

In [49]:
test2() + "Succesfull"

'My name is Vinay & I am a Data scientist.Succesfull'

## We can pass different data types by using return function.

In [50]:
def test3():
    return 1,2,"vinay",12.5

In [51]:
test3()

(1, 2, 'vinay', 12.5)

## The output is received in the form of tuple.

## This function data received in form of tuple which can be extracted by :

In [52]:
test3()

(1, 2, 'vinay', 12.5)

In [53]:
test3()[1]

2

In [54]:
test3()[2]

'vinay'

## Seperate variables can also be assigned to function :

In [55]:
test3()

(1, 2, 'vinay', 12.5)

In [56]:
a,b,c,d = test3()

In [57]:
a

1

In [58]:
b

2

In [59]:
c

'vinay'

In [60]:
d

12.5

## We can write logic inside function :

In [61]:
def test4():
    a=4*5+6*4
    return a

In [62]:
test4()

44

In [63]:
type(test4())

int

## Arguments in function :

## Information specified after name of function inside the parenthesis call as arguments. As many arguments can be passed as per the requirement. The only thing is it should be seperated by comma "," .

In [64]:
def test5(a,b):
    c = a + b
    return c

In [65]:
test5(8,5)

13

In [66]:
test5("Vinay ","Data scientist")

'Vinay Data scientist'

In [67]:
test5([1,2,3,4],[5,6,7,8])

[1, 2, 3, 4, 5, 6, 7, 8]

## Create a function which will return a integer value from list.

In [68]:
l = [1,2,3,4,5,"vinay",12.5,3.26,[1,5,8,7,45]]

In [69]:
m = (1,2,3,4,5,6,7)

In [70]:
def test6(a) :
    n=[]
    for i in a:
        if type(i)==int or type(i)==float:
            n.append(i)
    return n

In [71]:
test6(l)

[1, 2, 3, 4, 5, 12.5, 3.26]

In [72]:
def test7(a):
    n=[]
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j)==int or type(j)==float:
                    n.append(j)
        else:
            if type(i)==int or type(i)==float:
                    n.append(i)
    return n

In [73]:
test7(l)

[1, 2, 3, 4, 5, 12.5, 3.26, 1, 5, 8, 7, 45]

In [74]:
def test8(a):
    if type(a)==list:
        n=[]
        for i in a:
            if type(i)==list:
                for j in i:
                    if type(j)==int or type(j)==float:
                        n.append(j)
            else:
                if type(i)==int or type(i)==float:
                    n.append(i)
        return n
    else:
        return "Entered type is" ,type(a) , "please enter list."

In [75]:
test8(l)

[1, 2, 3, 4, 5, 12.5, 3.26, 1, 5, 8, 7, 45]

In [76]:
test8(m)

('Entered type is', tuple, 'please enter list.')

## Arguments :

## Number of arguments :

## Function must be called with correct argument. If function expects two arguments, then only two arguments should be passed. Not more not less. Otherwise it will give error.

In [77]:
def test9(a,b):
    c=a+b
    return c

In [78]:
test9(5,)

TypeError: test9() missing 1 required positional argument: 'b'

In [79]:
test9(1,2,3)

TypeError: test9() takes 2 positional arguments but 3 were given

## Arbitary Arguments :

## If we are unknown with how many arguments needed to be passed in the function, use * before parameter name in function.
## This way the function will return tuple of arguments from which items can be accessed

In [80]:
def test10(*arg):
    return arg

In [81]:
test10(1,2,3,4,5,6,7,8,9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [82]:
test10(100)

(100,)

## Keyword Arguments :

## To enter keyword argument enter value of argument as 'key = value" syntax.

In [92]:
def test11(name,age,job):
    return "Name of candidate is " + name

In [93]:
test11(name= "Vinay" , age = 25, job = "Data Scientist")

'Name of candidate is Vinay'

## Arbitrary Keyword Arguments, **kwargs

## If we are unknown with the number of keyword arguments to be passed in the function add two asterisk "**" before name of parameter function.
## This way the function will return dictonery of arguments, which can be accessed accordingly:

In [94]:
def test12(**kwargs):
    return kwargs

In [95]:
test12(a = 1, b = 12, c = "Vinay")

{'a': 1, 'b': 12, 'c': 'Vinay'}

In [97]:
type(test12())

dict

## We can write different type of programs :
## to get the specific type of item from passed arguments

In [104]:
def test13(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i])==list:
            print( i , kwargs[i])

In [105]:
test13(  b = "Vinay", c = (12,18,25) , d = ["cruze","volvo","BMW"],a = [1,2,4,5])

d ['cruze', 'volvo', 'BMW']
a [1, 2, 4, 5]

## To enter multiple arguments and keyword arguments at same time:

In [106]:
def test14(*args , **kwargs):
    return args , kwargs

In [107]:
test14(1,2,3,4,a="vinay",b=["BMW","Volvo","Cruze"])

((1, 2, 3, 4), {'a': 'vinay', 'b': ['BMW', 'Volvo', 'Cruze']})